<article class="panel panel-success" id= <%= dom_id(comment) %>>
  <div class="panel-heading">
    <p> #<%= comment.id %> </p>
  </div>
  <div class="panel-body">
    <p> <%= comment.content %> </p>
  </div>

  <div class="panel-footer">
    <p> Published by <%= comment.user.name if comment.user %> </p>
    <%= link_to 'delete', shift_comment_path(comment.shift, comment), method: :delete, remote: true %>
  </div>
</article>
