<%= form_for @user, class: 'form-horizontal' do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved: </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Ex: John Doe', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'Ex: john@doe.com', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password  %>
    <%= f.password_field :password, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :job %>
    <%= f.select :job,  [['Impact 1', 'impact_1'], ['Impact 2', 'impact_2'], ['Cashier','cashier'], ['Model', 'model'], ['Ops', 'ops'], ['Stylist', 'stylist']], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit @title_button, class: 'btn btn-primary' %>
  </div>

<% end %>
