<%= form_for @shift do |f| %>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_select  :date, min: Date.current, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :time %>
    <%= f.time_select  :time,  class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area  :description, placeholder: "I want a shift for monday at 19:00.", class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit my shift', class: 'btn btn-default' %>
  </div>


<% end %>
