<h1>Shift #<%= @shift.id %> </h1>

<p> <%= @shift.date %> </p>
<p> <%= @shift.time %> </p>
<p> <%= @shift.description %> </p>


<h2>Comments</h2>

<%= render @shift.comments %>

<h2>Add Comments</h2>
<%= render 'comments/form' %>
